Data:
Training - 2020 to 2025
Testing - 2025 (Jan 2 to 9) 1w

Always up:
Ridge:
Random forest:
XGBoost: 